# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
editor-backend/venv/
editor-backend/__pycache__/
editor-backend/app/__pycache__/
editor-backend/app/api/__pycache__/
editor-backend/app/api/v1/__pycache__/
editor-backend/app/core/__pycache__/
editor-backend/app/db/__pycache__/
editor-backend/app/runners/__pycache__/
editor-backend/app/schemas/__pycache__/
editor-backend/app/services/__pycache__/
editor-backend/alembic/versions/__pycache__/
editor-backend/alembic/__pycache__/
editor-backend/test.db
